.principal {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    margin-top: 100px;
    text-align: left;
    height: 100vh;
    width: 70%;
    justify-content: flex-start;
    //background: deepskyblue;

    .container-1 {
      display: flex;
      //background: rgba(223, 223, 223, 0.8);

      div {
        width: 100%;
        //border: 1px black solid;
        padding: 10px;
      }
      .box-1 {
        flex: 1;
        display: flex;

        div {
          flex-direction: column;
        }

        .box-1-1 {
          flex: 1;
        }

        .box-1-2 {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 25px;
        }

        .input-div {
          margin-bottom: 20px;
          input {
            padding: 10px;
            width: 100%;
          }
        }
      }
      .box-2 {
        flex: 3;
        display: flex;

        div {
          flex: 1;
          justify-content: center;
        }
      }
      .box-3 {
        flex: 1;
      }
    }

    .country-flag {
      width: 500px;
    }
  }

  .navbar-css {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(102, 102, 102) 0%, rgb(27, 27, 27) 100%);

    .navbar-title {
      justify-content: center;
    }
  }
}
