@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Pacifico&display=swap");
.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Oxygen', sans-serif;
}

.principal .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.principal .home .home-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 60%;
  border: 1px solid red;
}

.principal .home .home-card__box1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 50px 0 60px;
  height: 80%;
}

.principal .home .home-card__box1 .home-card__title {
  word-break: keep-all;
  font-size: 2.25rem;
  font-weight: 700;
  padding-bottom: 15px;
}

.principal .home .home-card__box1 .home-card__text {
  font-size: 1.2rem;
  font-weight: 300;
}

.principal .home .home-card__box1 .home-card__button {
  margin-top: 10px;
  width: 180px;
  font-weight: 700;
}

.principal .home .home-card__box2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.principal .home .home-card__box2 .home-card__img {
  height: 23em;
  -webkit-box-shadow: 5px 15px 20px #6b6b6b;
          box-shadow: 5px 15px 20px #6b6b6b;
}

.principal .wrapper {
  text-align: left;
  height: 99vh;
  width: 99vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.principal .wrapper .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
}

.principal .wrapper .container-1 div {
  width: 100%;
  padding: 10px;
}

.principal .wrapper .container-1 .box-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .wrapper .container-1 .box-1 div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principal .wrapper .container-1 .box-1 .box-1-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.principal .wrapper .container-1 .box-1 .box-1-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.principal .wrapper .container-1 .box-1 .input-div {
  margin-bottom: 20px;
}

.principal .wrapper .container-1 .box-1 .input-div input {
  padding: 10px;
  width: 100%;
}

.principal .wrapper .container-1 .main-full-country {
  background-color: whitesmoke;
  width: calc(100vw - (100vw - 100%));
  position: absolute;
  left: 0;
  padding: 30px;
}

.principal .wrapper .container-1 .main-full-country .result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .wrapper .container-1 .main-full-country .result-container div {
  padding: 10px;
}

.principal .wrapper .container-1 .main-full-country .result-container .result-box-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 20%;
}

.principal .wrapper .container-1 .main-full-country .result-container .result-box-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.principal .wrapper .container-1 .main-full-country .result-container .result-box-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .wrapper .container-1 .main-full-country .result-container .result-box-3 img {
  width: auto;
  max-height: 20rem;
  position: absolute;
  left: 5%;
  top: 0%;
}

.principal .wrapper .container-1 .countries-list {
  width: calc(100vw - (100vw - 100%));
  height: auto;
  position: absolute;
  left: 0%;
  background-color: whitesmoke;
}

.principal .wrapper .container-1 .countries-list .button-close {
  float: right;
  border: none;
  background: transparent;
  font-size: 20px;
}

.principal .wrapper .container-1 .countries-list .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.principal .wrapper .container-1 .countries-list .cards .cards_item {
  width: 12rem !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  height: 8rem;
  border-radius: 10px;
  margin: 5px 15px 6rem 15px;
  background-size: 100%;
  cursor: pointer;
}

.principal .wrapper .container-1 .countries-list .cards .cards_item:hover {
  opacity: 0.7;
}

.principal .wrapper .container-1 .countries-list .cards .cards_item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-top: 7rem;
  font-size: 18px;
}

.principal .wrapper .country-flag {
  width: 500px;
}

.principal .navbar-css {
  background: #1f1f1f;
  font-family: 'Pacifico', cursive;
  height: 5rem;
}

.principal .navbar-css .navbar-link {
  text-decoration: none;
  color: white;
}

.close {
  float: right;
  color: #b3b3b3;
  border: none;
  background: transparent;
}

.close svg {
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 1000px) {
  .home-div-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-div-main .home-div-box-2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */