@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './Variables/variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;

  .navbar {
    background: rgb(31, 31, 31);
    font-family: 'Pacifico', cursive;
    height: 5rem;

    &__link {
      text-decoration: none;
      color: white;
    }
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .home-card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 60%;
      //border: 1px solid red;

      @include mobile {
        flex-direction: column;
      }

      &__box1 {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 20px 50px 0 60px;
        height: 80%;

        @include mobile {
          padding: 0;
        }

        @include fold {
          align-items: center;
        }

        @include small {
          align-items: center;
          text-align: center;
        }

        .home-card__title {
          word-break: keep-all;
          font-size: 2.25rem;
          font-weight: 700;
          padding-bottom: 15px;

          @include small {
            font-size: 1.5rem;
          }

          @include mobile {
            margin-top: 50px;
          }

          @include fold {
            margin-top: 80px;
            font-size: 1.3rem;
            text-align: center;
          }
        }

        .home-card__text {
          font-size: 1.2rem;
          font-weight: 300;

          @include fold {
            text-align: center;
          }
        }

        .home-card__button {
          margin-top: 10px;
          width: 180px;
          font-weight: 700;
        }
      }

      &__box2 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        font-size: 20px;

        @include tablet() {
          font-size: 16px;
        }

        @include mobile {
          width: 100%;
          justify-content: center;
          font-size: 14px;
        }

        @include small {
          font-size: 10px;
        }

        @include fold {
          font-size: 7px;
        }

        .home-card__img {
          height: 19em;
          //border: 1px solid black;
          box-shadow: 5px 15px 20px rgb(107, 107, 107);
          align-self: center;

          @include mobile {
            margin-top: 22px;
          }

          @include fold {
            margin-top: 40px;
          }
        }
      }
    }
  }
  .getStarted {
    text-align: left;
    height: 99vh;
    width: 99vw;
    justify-content: flex-start;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: rgb(231, 246, 255);

    .getStarted__container {
      display: flex;
      margin-top: 5rem;
      div {
        width: 100%;
        padding: 10px;
      }
      .search-container {
        flex: 1;
        display: flex;
        margin-top: 20px;
        height: 5rem;
        padding: 0;
        //border: 1px black solid;

        @include mobile {
          flex-direction: column;
        }

        .search-container__box1 {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .search-container__input-group {
            width: 25rem;
            padding: 0;
            z-index: 10;

            @include tablet {
              width: 100%;
            }
          }
        }

        .search-container__box2 {
          flex: 1;
          padding-bottom: 0;
          @include mobile {
            margin-top: -13px;
          }

          div {
            width: 25rem;
            margin-top: 6px;

            @include tablet {
              width: 100%;
            }
          }
        }
        .search-container__wave {
          position: absolute;
          height: 50vh;
          width: 100%;
          bottom: 0;
          position: absolute;
          top: 0;
          left: 0;
          background-color: white;

          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50% 50%;
          }
          &::before {
            width: 55%;
            height: 109%;
            background-color: rgb(255, 255, 255);
            right: -1.5%;
            top: 60%;
          }
          &::after {
            width: 55%;
            height: 100%;
            background-color: #ffffff;
            left: -1.5%;
            top: 40%;
          }
        }
      }
      .countries-list {
        width: calc(100vw - (100vw - 100%));
        height: auto;
        position: absolute;
        left: 0%;
        padding: 0;
        margin-top: 30px;

        .countries-list__cards {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding: 0;
          margin-top: 2rem;

          .countries-list__item {
            width: 12rem !important;
            object-fit: cover !important;
            height: 8rem;
            border-radius: 10px;
            margin: 5px 15px 4rem 15px;
            background-size: 100%;
            cursor: pointer;
            margin-top: 10px;

            &:hover {
              opacity: 0.7;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: auto;
              margin-top: 120px;
              font-size: 18px;
              padding: 0;
            }
          }
        }
      }
      .show-country {
        width: calc(100vw - (100vw - 100%));
        position: absolute;
        left: 0;
        padding: 30px;
        margin-top: 30px;

        .show-country__name {
          margin-left: 20px;
        }

        .show-country__result {
          display: flex;
          border-top: 1px solid rgb(209, 209, 209);
          @include mobile() {
            flex-direction: column;
          }

          .show-country__box1 {
            flex: 1;
            order: 2;
          }
          .show-country__box2 {
            flex: 1;
            order: 3;
          }
          .show-country__box3 {
            flex: 1;
            order: 1;
            display: flex;

            @include fold() {
              padding: 0;
            }

            img {
              height: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.close-button {
  float: right;
  color: rgb(179, 179, 179);
  border: none;
  background: transparent;

  svg {
    width: 30px;
    height: 30px;
  }
}
