@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Pacifico&display=swap');
@import './Variables/variables';

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oxygen', sans-serif;

  div {
    //border: 1px solid red;
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .home-card {
      $self: &;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 70%;
      height: 60%;
      border: 1px solid red;

      &__box1 {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 20px 50px 0 60px;
        height: 80%;

        .home-card__title {
          word-break: keep-all;
          font-size: 2.25rem;
          font-weight: 700;
          padding-bottom: 15px;
        }

        .home-card__text {
          font-size: 1.2rem;
          font-weight: 300;
        }

        .home-card__button {
          margin-top: 10px;
          width: 180px;
          font-weight: 700;
        }
      }

      &__box2 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        height: 100%;

        .home-card__img {
          height: 23em;
          //border: 1px solid black;
          box-shadow: 5px 15px 20px rgb(107, 107, 107);
        }
      }
    }
  }

  .wrapper {
    text-align: left;
    height: 99vh;
    width: 99vw;
    justify-content: flex-start;
    font-family: 'Zen Kaku Gothic New', sans-serif;

    .container-1 {
      display: flex;
      margin-top: 5rem;
      //background: whitesmoke;

      div {
        width: 100%;
        //border: 1px black solid;
        padding: 10px;
      }
      .box-1 {
        flex: 1;
        display: flex;

        div {
          flex-direction: column;
        }

        .box-1-1 {
          flex: 1;
        }

        .box-1-2 {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 25px;
        }

        .input-div {
          margin-bottom: 20px;
          input {
            padding: 10px;
            width: 100%;
          }
        }
      }
      .main-full-country {
        background-color: whitesmoke;
        width: calc(100vw - (100vw - 100%));
        position: absolute;
        left: 0;
        padding: 30px;

        .result-container {
          display: flex;

          div {
            padding: 10px;
            //border: 1px black solid;
          }

          .result-box-1 {
            flex: 1;
            order: 2;
            margin-left: 20%;
          }
          .result-box-2 {
            flex: 1;
            order: 3;
          }
          .result-box-3 {
            flex: 1;
            order: 1;
            display: flex;

            img {
              width: auto;
              max-height: 20rem;
              position: absolute;
              left: 5%;
              top: 0%;
            }
          }
        }
      }

      .countries-list {
        width: calc(100vw - (100vw - 100%));
        height: auto;
        position: absolute;
        left: 0%;
        background-color: whitesmoke;

        .button-close {
          float: right;
          border: none;
          background: transparent;
          font-size: 20px;
        }

        .cards {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          //background-color: rgb(139, 19, 19);

          .cards_item {
            width: 12rem !important;
            object-fit: cover !important;
            height: 8rem;
            border-radius: 10px;
            margin: 5px 15px 6rem 15px;
            background-size: 100%;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: auto;
              margin-top: 7rem;
              font-size: 18px;
            }
          }
        }
      }
    }

    .country-flag {
      width: 500px;
    }
  }

  .navbar-css {
    background: rgb(31, 31, 31);
    font-family: 'Pacifico', cursive;
    height: 5rem;
    .navbar-link {
      text-decoration: none;
      color: white;
    }
  }
}

.close {
  //background-color: blue;
  float: right;
  color: rgb(179, 179, 179);
  border: none;
  background: transparent;

  svg {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 1000px) {
  .home-div-main {
    flex-direction: column;

    .home-div-box-2 {
      align-self: center;
      font-size: 12px;
    }
  }

  .result-container {
  }
}
